.adSearch {
	clear: left;
	margin-top: 35px;
	position: relative;
	padding: 1% 4%;
	overflow: hidden;
}
.lineAd {
	position: relative;
	height: 30px;
	vertical-align: middle;
	font-size: 12px;
}
.catPanel{
	margin-bottom: 15px;
}
.pricePanel{
	margin-bottom: 15px;
}
.orderPanel{
	margin-bottom: 15px;;
}
.rankPanel{
	margin-bottom: 15px;
}
.subCatList{
	margin-left: 15px;
}
.subCatCheck{
	
}
.priceLine{
	margin-left: 15px;
}
.orderLine{
	margin-left: 15px;
}
.rankLine{
	margin-left: 15px;
}
.adInput{
	display: inline;
	width: 100px;
	height: 60%;
}
#advancedSearchButton{
	margin-left: 20px;
}
