/*
 * Default Koppe style sheet.
 */

/*
 * Resets boxmodel padding, border and margin for all elements
 */
* {
	padding: 0;
	border: 0;
	margin: 0;
}
/*
 * General style
 */

.hidden{
 	visibility: hidden;	
}

#topRightLinks .firstItem{
	font-weight: bold;
	width:20px;
	margin-right:15px;
}
body {
	color: black;
}
a, a:link, a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a:active, a:hover {
	color: black;
	text-decoration: underline;
}
a:active {
	font-weight: bolder;
}
#container {
	font-family: Verdana;
	font-size: x-small;
	color: black;
	height: 100%;
	width: 100%;
	min-height: 600px;
	min-width: 800px;
}
.horizList li {
	list-style: circle;
	display: inline;
}
.firstItem {
	list-style: none;
}
/*
 * topArea style
 */

#topArea {
	background-image: url(../images/ui-bg_flat_0_303030_40x100.png);
	background-color: #303030;
	display: block;
	width: 100%;
}
#topLinks {
	display: block;
	width: 100%;
	height: 20px;
	color: #B8EC79;
}
#topLinks a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #B8EC79;
}
#topLinks a:hover, a:active {
	text-decoration: underline;
	font-weight: bold;
	color: #FFFFFF;
}
#topLeftLinks {
	display: inline;
	margin-left: 10px;
	float: left;
}
#topRightLinks {
	display: inline;
	margin-right: 10px;
	float: right;
}
#topContainer {
	display: block;
	width: 96%;
	padding: 5px 2% 5px;
}

#topbar {
	background-image: url(../images/ui-bg_gloss-wave_85_9fda58_500x100.png);
	display: block;
	background-position: 0 -30px;
	background-color: #B8EC79;
	border: 1px solid black;
	width: 96%;
	height: 38px;
	border-radius: 6px;
	padding: 0px 2%;
}

#ddownMenu {
	display: inline-block;
	background-color: #303030;
	border: 1px solid black;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	width: 94px;
	margin-right: 30px;
	margin-top: 4px;
	padding: 1px 2px;
	height: 31px;
	min-height: 31px;
}

#logo {
	display: inline-block;
	overflow: hidden;
	min-height 32px;
	width: 119px;
	height: 32px;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
}
#searchbar {
	display: inline-block;
	float: right;
	height: 38px;
	width: 80%;
}

#menu {
	position: absolute;
	display: none;
	background: #303030;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 100px;
	z-index: 5000;
}


#catMenu {
	display: none;
	z-index: 100;
}


.menuItem {
	display: block;
	border: 1px solid #000000;
	background: #b8ec79 url(../images/ui-bg_gloss-wave_100_b8ec79_500x100.png) 50% 50% repeat-x;
	color: #222222;
	font-size: small;
	font-weight: bold;
}

.menuItem a, a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

.menuItem a:hover, a:active {
	color: #B8EC79;
	text-decoration: underline;
}

.menuItem:hover {
	display: block;
	border: 1px solid #000000;
	background: #303030 url(../images/ui-bg_gloss-wave_100_303030_500x100.png) 50% 50% repeat-x;
	color: #b8ec79;
	font-size: small;
	font-weight: bold;
}

.menuItem:hover a, a:link, a:visited {
	color: #B8EC79;
	text-decoration: none;
}

.menuItem:hover a:hover, a:actve {
	color: #B8EC79;
	text-decoration: underline;
}

.searchbarInput {
	width: 45%;
}
.searchbarUtil {
	height: 26px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 1px;
}
/*
 * middleArea style
 */

#middleArea {
	display: block;
	background-color: #EEEEEE;
	min-height: 430px;
	height: 100%;
	width: 100%;
}



#contentArea {
	display: block;
	width: 96%;
	padding: 15px 2%;
}

.jcCtrlWrapper{
	text-align: center;
	margin: 5px;
	padding: 10px;
}
.jcCtrlMenu {
	margin: 10px;
	padding: 10px 4px;
}
/*
 * bottomArea style
 */

#bottomArea {
	background-image: url(../images/ui-bg_flat_0_303030_40x100.png);
	background-color: #303030;
	display: block;
	width: 100%;
	height: 1.5em;
	bottom: 0;
}
#bottomLinks {
	text-align: center;
	display: block;
	color: #B8EC79;
}
#bottomLinks a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #B8EC79;
}
#bottomLinks a:hover, a:active {
	text-decoration: underline;
	font-weight: bold;
	color: #FFFFFF;
}
/*
 * From here on, the CSS rules are for the different pages. Except for the path that is common to all of them.
 */

/*
 * Path style goes here... Is common to all pages, so goes first.
 */

#pathWrapper {
	color: #B8EC79;
	display: block;
	height: 40px;
	padding-bottom: 10px;
}
#pathWrapper a, a:link {
	color: #B8EC79;
}
#path li {
	background-color: #303030;
	text-align: center;
}
.pathFirst {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.pathLast {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
/*
 * Articles
 */

#contentWrapper {
	display: block;
	width: 100%;
}
#articleNameWrapper {
	display: block;
	width: 100%;
}
#articleName {
	display: block;
	width: 100%;
}
#articleWrapper {
	display: table;
	width: 100%;
}
#articleWrapper2 {
	display: table-row;
}
#infoWraper {
	display: table-cell;
	width: 200px;
	min-width: 200px;
}
#briefDescriptionTitle {
	font-weight: bold;
	font-size: small;
}
#briefDescription {
	width: 200px;
}
#briefDescription ul, li {
	list-style: none;
}
#userSubmitedDescription {
	display: table-cell;
	padding: 10px;
	width: 100%;
	overflow: auto;
}
#commentWrapper {
	display: block;
	width: 100%;
}
#comments {
	display: block;;
	padding-top: 10px;
	width: 100%;
}
#pathWrapper{
	margin-left:150px;
}
#whatsNew{
	text-align:center;
}
