.formBox {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 40em;
	background-color: #fbffbf;
	border: 1px solid black;
	padding: 2em;
	overflow: auto;
}
.buyCant{
	width: 3em;
}

.page{
	color: #0d0502;
}

.currentPage{
	color: #3b45ff;
	font-weight: bold;
}

html,body{
	height: 100%;
	margin:0;
	padding:0;
}

.center {
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.entry {
	text-align: right;
	width: 30%;
	float: left;
	clear: left
}


.inputBox {
	float: left;
	width: 45%;
	text-align: left;
	padding-left: 1em;
}

.profile .inputBox{
	width: 35%;
}

.formItem {
	margin-left: 0px;
	height: 2em;
}

.subcategory{
	padding-top:0.2em;
}
.submit {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 2em;
	width: 13em;
	height: 2em;
	/*-webkit-appearance: button;*/
	text-align: center;
}

.info {
	margin-top: 1em;
	margin-bottom: 1em;
}

/*{
 font-family: Arial;
 text-decoration: underline;
 color:blue;
 }*/

span {
	font-family: Arial;
}

h1 {
	font-family: Arial;
}

h2 {
	font-family: Arial;
}

.language {
	margin-left: 1em;
	border-style: none;
	width: 30em;
	height: 2em;
}

.search {
	padding-left: 1em;
	height: 1em;
	/*font-size: 1.5em;*/
	padding-bottom: 1em;
	padding-top: 1em;
	float: left;
	font-size:1.2em;
	margin-top:20px;
}

.search input{
	font-size: 0.8em;
}

.search select{
		font-size: 0.8em;

}

#searchButton{
	font-size: 1em;
}

body{
	background-image:url(../img/pattern.jpg); 
}
#changePasswordForm{
	margin-top: 2em;
}

.search submit{
	font-size: 1.5em;

}
#head {
	border: 1px solid black;
	background-color: #fbffbf;
	height: 8em;
}

.userhead {
	/*height:100%;*/
	/*border: 1px solid black;*/
	width: 37%;
	float: right;
	padding-top: 1em;
}

#loggedFirstLine{
	float: left;
	height:98%;
	width:55%;
	margin-top: 1em;
}
#userLinks{
	float: right;
	height:98%;
	margin-right: 10%;
}
.signHelp {
	margin-bottom: 0.4em;
	text-align: right;
	width: 15em;
	float: left;
}

#categories {
	float: left;
	margin-top: 2em;
	font-size: 1.1em;
	width: 20%;
}

.subCat a {
	font-size: 13px;
	margin-left: 5%;
}

img#icon {
	width: 128px;
	height: 128px;
	/*height: 8em;*/
	float: left;
}

.lefthead {
	/*width: 75%;*/
	float: left;
}

.category a {
	text-decoration: none;
	color: #050505;
	text-shadow: 0px 0px;
	font-style: normal;
	font-weight: normal;
}

.signedinfo {
	padding-left: 1em;
	border-width: 10em;
	float: left;
}

.button {
	/*-webkit-appearance: button;*/
}

#like{
	margin-top:2em;
	margin-left:20%;
    width:80% !important;
}

.like{
	margin-top:2em;
	margin-left:20%;
    margin-bottom:1em;
    height:2em !important;
    width:80% !important;
}

.addressInfo {

	width: 400px;
	padding-bottom: 2em;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

.form {
	text-align: right;
	width: 47%;
	float: left;
}
.data {
	width: 47%;
	float: right;
	text-align: left;
}

.itemBox {
	margin-right: auto;
	/*margin-left: 5%;*/
	text-align: center;
	width: 100%;
	background-color: #fbffbf;
	border: 1px solid black;
	padding: 2em;
	margin-bottom: 20px;
	overflow: auto;
}

#BUY{
	font-size: 1.5em;
}
#BUY input{
	height: 1.75em;
}
#BUY select{
	font-size: 1em;
	width: 12em;
}

.moreInfo{
	margin-top:2em !important;
}
.articleImg {
	width: 20%;
	float: left;
}
.detailImg {
	width: 40%;
	float: left;
}

.articleData {
	width: 75%;
	float: right;
}

.articleDetail {
	width: 55%;
	float: right;
	margin-left: 1em;
}

.artForm {

	text-align: right;
	width: 35%;
	float: left;
	font-weight: bold;
}
.artData {
	text-align: left;
	width: 60%;
	float: right;
	font-size: 15px;
}
#main {
	margin-left:5%;
	margin-right: 15%;
	margin-top: 2em;
	width: 60%;
	float: right;
}
div#info {
	float: none;
}
.wide {
	width: 95%;
}

#spacer{
	clear: both;
}

#footer{
	bottom:0;
	position:absolute;
	width: 100%;
	height: 2em;
	text-align: center;
}
.profile {
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	width: 550px;
	background-color: #fbffbf;
	border: 1px solid black;
	padding: 2em;
	margin-bottom:2em;
}
img#userPhoto {
	height: 10em;
	float: right;
}
.dataProfile {
	float: left;
}
#wrapper {
	width: 80em;
	min-height: 100%;
	position: relative;
}
#prev {
	margin-left: 1em;
	float: left;
}
#next {
	margin-right: 1em;
	float: right;
}
.toTheCart {
	margin-left: 5%;
	width: 100%
}
.toTheCart a {
	float: left;
	margin-left: 1.5em;
}
.itemBox div {
	float: left;
}
.orderBox {

	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 30em;
	background-color: #fbffbf;
	border: 1px solid black;
	padding: 2em;
	margin-bottom: 20px;
	overflow: auto;
}
.itemBox select {
	margin-left: 1em;
}


.goToRight{
	width: 29%;
	float:right;
	margin-bottom: 10%;
}

.goToLeft{
    margin-top: 10%;
	width:49%;
	float:left;
}
#sort{
	clear:both;
	margin-bottom:2em;
}


#editAddress {
	float: right;
}

#wrapper {
	margin: auto;
	width: 70em;
}

#errors {
	color: #CD0A0A;
}

.req {
	float: left;
	text-align: left;
}

.reqFields {
	height: 2em;
}

.reqError {
	color: #CD0A0A;
	width: 20%;
	float: left;
	height: 65%;
	
}

#sd_country {

	width: 95%;
}
#sd_state {

	width: 95%;
}

#addr_country{
	width:95%;
}

#addr_state{
	width:95%;
}
.artItem {
	width: 100%;
}
.amountLabel {
	clear: left;
}

#buyCant {
	width: 3em;
}

.centerStuff{
	padding-bottom:2em;
}

.buyOrderData {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 30em;
	overflow: auto;
}
.dataItem {
width: 100%;
height: 1em;
float: left;
margin: 0.5em;

}
#bdayInput{
	margin-top:0.5em;
}

.orderLabel {
	text-align: right;
	width: 49%;
	float: left;
	font-weight: bold;
}

.orderData {
	text-align: left;
	width: 49%;
	float: right;
	font-size: 15px;
}

.centerButton{
	margin-top:2em;
	margin-left:auto;
	margin-right:auto;
		
}

.profLabel{
	
	text-align: right;
	width: 38%;
	clear: left;
	float:left;
	font-weight: bold;
	font-size: 14px;
	
}

.profBut{
	width:99%;
	float:left;
	margin-top:1em;
	margin-bottom:2em;
}

.dateInputp{
	width:4em;
}

.profData{
	margin-left: 10px;
	text-align: left;
	width: 30%;
	float: left;
	font-size: 14px;
}

.profDataPass{
	margin-left: 10px;
	text-align: left;
	width: 30%;
	float: left;
	font-size: 14px;
}

#usern{
	text-align:center;
}


.reqProfError{
	color: #CD0A0A;
	width: 20%;
	float: right;
	height: 65%;

}

.dateInput{
	margin-left: 2px;
	width:8em;
}
#loginSpans span{
	font-size: 13px;
	margin-bottom: 2px;
}

#loginInputs{
	height: 2em;
	display:block;
}

.loginInput{
	width: 33%;
}


#loginSpans div{
	width: 35%;
	margin-bottom: 2px;
}

#userNameDiv{
	clear:left;
	float:left;
}
#passwordDiv{
	float:left;
	margin-left:10px;
}

input#sb {
	width: 8em;
	float: right;
	margin-right:12px;
}

#password{
	margin-left: 6px;
}

#newInSiteLabel{
	font-size:13px;
	margin-right:4px;
}
#signupLink{
	font-size:14px;
}

#loginError{
	height: 2em;
	font-size: 14px;
	color:#CD0A0A;
	margin-bottom: 2px;
	margin-top: 12px;
}

#helloDiv{
	clear: left;
	margin-left:1em;

	margin-bottom: 1em;
}

#logoutDiv{
	/*width: %;*/
	margin-left: 1em;
}
/*
#loggedFirstLine{
	width:100%;
	font-size:14px;
	display:block;
	height: 2em;
}
*/
.headerLink{
	
	font-size:14px;
	
	text-align: left;
	height:1.5em;
}

#addNewAddressLink{
	margin-top:20px;
	
}

.invisible{
	visibility:hidden;
	display:none;
}
.adrBut{
	margin-top:1em;
}

#myAddr{
	visibility:hidden;
	display:none;
}

#dvdInfo span{
	font-size:13px;
}
#bookInfo span{
	font-size:13px;
}
#bookInfo .artForm{
	width: 50%;
}

#bookInfo .artData{
	font-size:13px;
	width:45%;
}

#loading{
	height: 50px;
	width: 50px;
	left: 50%;
	position: absolute;
}

#themeChooser{
	margin-top:1em;
}

.hide{
	display: none;
}

input{
	
	font-style: normal;
	
	font-weight: normal;
	
}

#su_birth_month{
	width: 6em;
}

#su_birth_day{
	width: 5em;
}
